.todo{
  color: rgb(11, 10, 10);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 20vw;
  margin-top: 6%;
  padding: 2%;
  height: 80vh;
  width: 50%;
  background-color: greenyellow;
  
}
body{
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(2, 2, 2);
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
  background-color: greenyellow;
}
.left-c{
  padding-left: 60%;
  display: flex;
}
.left-c a{
text-decoration: none;
color: black;
padding-right: 20%;
}
.tsaks{
  margin-top: 2%;
}
.dlt{
  margin-top: 2%;
}